@charset "utf-8";

/* checkbox / radio 디자인 적용 - 기본형,  IE9 이상 적용 : 스크립트 사용 X */
.inp-check, .inp-radio { position:relative; display:inline-block; overflow:hidden; min-height:18px; vertical-align:middle; }
.inp-check input, .inp-radio input { position:absolute; width:1px; height:1px; padding:0; top:3px; left:3px; opacity:0; z-index:-1; overflow:hidden; }
.inp-check label, .inp-radio label { display:block; cursor:pointer; outline:none; color:#2b2b2b; line-height:18px; }
.inp-check label .box, .inp-radio label .box { display:inline-block; width:16px; height:16px; margin:1px; text-indent:-10000px; background:#fff url(/images/bg_checkbox.png) no-repeat left bottom; vertical-align:top; overflow:hidden; }
.inp-radio label .box { background:#fff url(/images/bg_radio.png) no-repeat left bottom; }
.inp-check input:focus + label .box, .inp-radio input:focus + label .box { outline:1px dotted #999; outline:-webkit-focus-ring-color auto 5px; }
.inp-check + .inp-check, .inp-check + .inp-radio, .inp-radio + .inp-check, .inp-radio + .inp-radio { margin-left:15px; }
.inp-check input:checked + label .box, .inp-radio input:checked + label .box { background-position:left top; }

/* checkbox / radio 디자인 적용 - 호환형, IE7 까지 적용 : 스크립트 사용 O - jquery 및 inpdesign_v.1.2.0.js 필요 
.inp-check, .inp-radio { position:relative; display:inline-block; overflow:hidden; min-height:18px; vertical-align:middle; }
.inp-check input, .inp-radio input { position:absolute; width:1px; height:1px; padding:0; top:3px; left:3px; z-index:-1; overflow:hidden; }
.inp-check label, .inp-radio label { float:left; cursor:pointer; padding-left:23px; outline:none; color:#2b2b2b; line-height:18px; }
.inp-check label .box { position:absolute; width:16px; height:16px; top:1px; left:1px; background:#fff url(/images/bg_checkbox.png) no-repeat left bottom; overflow:hidden;}
.inp-radio label .box { position:absolute; width:16px; height:16px; top:1px; left:1px; background:#fff url(/images/bg_radio.png) no-repeat left bottom; overflow:hidden;}
.inp-check label.on .box, .inp-radio label.on .box { background-position:left top; }
.inp-check input:focus + label .box, .inp-radio input:focus + label .box { outline:1px dotted #999; outline:-webkit-focus-ring-color auto 5px; }

.inp-check.non-tx label, .inp-radio.non-tx label { width:18px; padding-left:0; text-indent:-10000px; }*/

/* select 디자인 적용 + js (IE대응) - 미사용시 주석 처리 */
.inp-select { position:relative; height:34px; z-index:100; } /* 너비 및 높이는 직접 설정 */
.inp-select > select { display:none; }
.inp-select .btn-select { display:block; padding:0 9px; width:100%; height:100%; border:1px solid #aaa; border-radius:4px; text-align:left; background:#fff url(/images/bg_select.png) no-repeat right 50%; }
.inp-select .btn-select > span { position:relative; display:block; width:100%; padding-right:25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; box-sizing:border-box; }
.inp-select .select-list { position:absolute; display:none; width:100%; max-height:300px; top:33px; left:0; padding:5px 0; border:1px solid #aaa; background:#fff; overflow-x:hidden; overflow-y:auto; box-sizing:border-box;} /* 리스트 부분은 전체 너비 및 높이에서 2px 빼고 설정 */
.inp-select.on .select-list { display:block; }
.inp-select .select-list li.hidden { display:none; }
.inp-select .select-list li button { display:block; width:100%; padding:6px 10px; color:#666; text-align:left; }
.inp-select .select-list li button.select { font-weight:700; color:#000; }
.inp-select .select-list li button.hover { background-color:#eee; }
.inp-select .select-list li button:disabled { opacity:.5; }
