@charset 'utf-8';

/* -- date : 2017-12-07 -- */
/* -- snamo(Seo nam ho) in m.s.p -- */

/* z-index 설정
기본 화면 : none / 0
GNB / 기타 메뉴 및 header 영역이 화면 위에 위치할 경우: 100
기타 event 적 요소 (select / calendar 등) : 500
레이어팝업 : 1000
*/

* { margin:0; padding:0; }
html, body { font-family:'Nanum Gothic','맑은 고딕',Dotum,AppleGothic,sans-serif; /*모바일 : font-family:Roboto,Droid Sans,AppleSDGothicNeo,Helvetica,sans-serif;*/ font-size:12px; line-height:1.4em; }
ul,ol { display:inline-block; }
li, dd { list-style:none; }
a { color:inherit; text-decoration:none; }
a:hover, a:active, a:focus { text-decoration:none; }
em, var, dfn, cite, address { font-style:normal; }
img { border:0px; }
fieldset { border:none; }
table { border-collapse:collapse; table-layout:fixed; width:100%; }
input, select, textarea { font-family:'Nanum Gothic','맑은 고딕',Dotum,AppleGothic,sans-serif; /*모바일 : font-family:Roboto,Droid Sans,AppleSDGothicNeo,Helvetica,sans-serif;*/ }
button { display:inline-block;overflow:hidden;border:0;background:none;cursor:pointer; }
.hide { position:absolute; overflow:hidden; top:0; left:0; width:100%; height:1px; text-indent:-10000px; }
caption { height: 1px; overflow: hidden; line-height: 0; margin-top: -1px; color: transparent; }
textarea { resize:none; vertical-align:middle; }

/* skip navi */
#skip-navi { position:relative; z-index:1000; }
#skip-navi > a { position:absolute; width:100%; height:30px; top:-50px; left:0; text-align:center; font-size:13px; line-height:30px; color:#fff; background:#444;}
#skip-navi > a:focus { top:0; }

input { -webkit-appearance:none; -moz-appearance:none; appearance:none; }
input::-ms-clear { display:none; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type=number] { -moz-appearance:textfield; } /* firefox 용 */
select:-ms-expend { display:none; }

/* layout =============================================================== */
#wrap { width:100%; height:100%; }

/* height 100% 설정 - layout-mix / layout-ver 용 */
html, body { height:100%; } 
#top { position:relative; height:100px; background:#e5e5e5; z-index:100; }
#mid { position:relative; min-height:100%; margin:-100px 0 -40px; }
#mid > .contents { height:100%; padding:100px 0 40px; }
#btm { position:relative; height:40px; background:#e5e5e5; z-index:100; }

/* layout-hor 용 */
#wrap.layout-hor #top { height:30px; }
#wrap.layout-hor #mid { margin-top:-30px; }
#wrap.layout-hor #mid > .contents { padding-top:30px; }

/* header 설정 -------------------- */
	/* top-menu */
.top-menu { height:30px; background:#aaa; }
.top-menu .inbox { width:1000px; margin:0 auto; padding:5px 0; overflow:hidden; }
.top-menu ul { float:right; }
.top-menu li { float:left; }
.top-menu li > a, .top-menu li > button { margin-left:20px; font-size:12px; }

#wrap.full .top-menu .inbox, #wrap.layout-hor .top-menu .inbox { width:100%; }

	/* gnb 메뉴 */
.gnb-wrap { position:relative; width:1000px; margin:0 auto; padding-top:14px; } /* gnb 영역 사이즈 설정 */
.gnb-wrap:after { content:''; display:block; clear:both; }
.gnb-wrap .logo { float:left; padding:5px; }
.gnb-menu { float:right; }
.gnb-menu .depth1 > li { position:relative; float:left; }
.gnb-menu .depth1 > li > a { display:block; padding:5px 30px; font-size:16px; line-height:20px; }
.gnb-menu .depth2 { position:absolute; top:30px; left:20px; display:none; background:#aaa; }
.gnb-menu .depth2.on { display:block; }
.gnb-menu .depth2 a { display:block; padding:5px 10px; font-size:13px; }

#wrap.full .gnb-wrap { width:100%; }

	/* 전체메뉴 */
.btn-all-menu { position:absolute; top:40px; right:0; }
.all-menu { position:absolute; display:none; width:100%; top:100px; background:#eee; }
.all-menu .inbox { width:1000px; margin:0 auto; padding:20px; }
.all-menu .depth1 > li { float:left; margin:0 30px; }
.all-menu .depth1 > li > a { display:block; font-size:16px; line-height:20px; }

/* mid 설정 -------------------- */
.contents { width:1000px; margin:0 auto; }
.contents:after { content:''; display:block; clear:both; }

/*.side-wrap { float:left; width:200px; height:100%; background:#e5e5e5; }  side 메뉴 영역 사이즈 */
.side-wrap { position:absolute; width:200px; height:100%; top:0; padding-top:100px; background:#e5e5e5; box-sizing:border-box; } /* side 메뉴 영역 사이즈 */
.side-wrap ul, .side-wrap li { width:100%; }
.side-wrap .depth1 { padding-top:20px; }
.side-wrap .depth1 > li > a { display:block; padding:6px 10px; font-size:14px; line-height:1.6em; }
.side-wrap .depth2 { display:block; }
.side-wrap .depth2 li { background:#fff; }
.side-wrap .depth2 a { display:block; padding:6px 15px; }

.cnt-wrap { display:block; margin-left:200px; padding:10px; box-sizing:border-box; }

#wrap.full .contents, #wrap.layout-hor .contents { width:100%; }
#wrap.layout-hor .side-wrap { padding-top:30px; }
#wrap.full .side-wrap, #wrap.layout-hor .side-wrap { left:0; }

/* btm 설정 -------------------- */
footer { width:1000px; margin:0 auto; padding:10px; box-sizing:border-box; }
#wrap.full footer, #wrap.layout-hor footer { width:100%; }

/* common ===============================================================*/
.tc { text-align:center !important; }
.tl { text-align:left !important; }
.tr { text-align:right !important; }

.tx-red { color:#ea002c !important; }

.location { text-align:right; font-size:12px; line-height:1.4em; color:#666; }
.location span, .location a { display:inline-block; margin-right:5px; }

/* 컨텐츠 box ===============================================================*/
.cnt-box + .cnt-box { margin-top:30px; }

/* 타이틀 및 기본 text / desc 설정 ===============================================================*/
.title-dep1 { display:block; margin-bottom:30px; font-size:24px; line-height:1.4em; }
.title-dep1:after { content:''; display:block; clear:both; }
.title-dep1 > .desc { display:inline-block; margin-left:5px; font-size:14px; line-height:1.4em; vertical-align:bottom; color:#666; }
.title-dep2 { display:block; margin:15px 0 10px; font-size:18px; line-height:1.4em;  }
.title-dep2:after { content:''; display:block; clear:both; }
.title-dep2 > .desc { display:inline-block; margin-left:5px; font-size:13px; line-height:1.4em; vertical-align:bottom; color:#666; }

.title-dep1 .fr, .title-dep2 .fr { float:right; }

/* input =============================================================== */
input[type=text], input[type=password], input[type=date], input[type=number], textarea { display:inline-block; width:100%; padding:7px 10px; font-size:13px; line-height:18px; border:1px solid #aaa; box-sizing:border-box; border-radius:4px; color:#333; }
input::-ms-clear {display:none; width:0; height:0;}

.inp-set { display:block; }
.inp-set + .inp-set { margin-top:8px; }

.inp-label { position:relative; display:inline-block; }
.inp-label input { padding-right:40px; }
.inp-label .btn-clear { position:absolute; display:none; width:30px; height:30px; top:2px; right:5px; text-indent:-10000px; background:url(/images/ico_inp-empty.png) no-repeat 50% 50%;}
.inp-label .error-msg { display:none; padding-top:5px; }
.inp-label.error .error-msg { display:block; }

.inp-set.phone:after { content:''; display:block; clear:both; }
.inp-set.phone > span, .inp-set.phone > .inp-select { display:block; float:left; width:30%; }
.inp-set.phone > i { display:block; float:left; width:5%; text-align:center; line-height:34px; }

.inp-set.mail:after { content:''; display:block; clear:both; }
.inp-set.mail > span, .inp-set.mail > .inp-select { display:block; float:left; width:30%; }
.inp-set.mail > i { display:block; float:left; width:5%; text-align:center; line-height:34px; }
.inp-set.mail .inp-select { width:32%; margin-left:3%; }

.inp-set.address { overflow:hidden; }
.inp-set.address > input { margin-top:8px; }
.inp-set.address .post-num { overflow:hidden; }
.inp-set.address .post-num > span { float:left; width:120px; margin-right:5px; }

/* checkbox / radio - IE제외 */
input.radio { position:relative; display:inline-block; width:18px; height:18px; border:1px solid #bbb; border-radius:50%; }
input.radio:disabled { opacity:.5; }
input.radio::after { content:''; position:absolute; width:10px; height:10px; top:50%; left:50%; margin:-5px 0 0 -5px; background-color:transparent; border-radius:50%; transition:background-color .2s; }
input.radio:checked::after { background-color:#f54615; }

input.checkbox { position:relative; display:inline-block; width:18px; height:18px; border:1px solid #bbb; border-radius:2px; }
input.checkbox::after { content:''; position:absolute; width:8px; height:4px; top:3px; left:3px; border-left:2px solid transparent; border-bottom:2px solid transparent; transition:border-color .2s; transform:rotate(-45deg);}
input.checkbox:checked::after { border-color:#f54615; }

/* checkbox / radio 디자인 적용 - 기본형,  IE9 이상 적용 : 스크립트 사용 X */
.inp-check, .inp-radio { position:relative; display:inline-block; overflow:hidden; min-height:18px; vertical-align:middle; }
.inp-check input, .inp-radio input { position:absolute; width:1px; height:1px; padding:0; top:3px; left:3px; opacity:0; z-index:-1; overflow:hidden; }
.inp-check label, .inp-radio label { display:block; cursor:pointer; outline:none; color:#2b2b2b; line-height:18px; }
.inp-check label .box, .inp-radio label .box { display:inline-block; width:16px; height:16px; margin:1px; text-indent:-10000px; background:#fff url(/images/bg_checkbox.png) no-repeat left bottom; vertical-align:top; overflow:hidden; }
.inp-radio label .box { background:#fff url(/images/bg_radio.png) no-repeat left bottom; }
.inp-check input:focus + label .box, .inp-radio input:focus + label .box { outline:1px dotted #999; outline:-webkit-focus-ring-color auto 5px; }
.inp-check + .inp-check, .inp-check + .inp-radio, .inp-radio + .inp-check, .inp-radio + .inp-radio { margin-left:15px; }
.inp-check input:checked + label .box, .inp-radio input:checked + label .box { background-position:left top; }

/* checkbox / radio 디자인 적용 - 호환형, IE7 까지 적용 : 스크립트 사용 O - jquery 및 inpdesign_v.1.2.0.js 필요 
.inp-check, .inp-radio { position:relative; display:inline-block; overflow:hidden; min-height:18px; vertical-align:middle; }
.inp-check input, .inp-radio input { position:absolute; width:1px; height:1px; padding:0; top:3px; left:3px; z-index:-1; overflow:hidden; }
.inp-check label, .inp-radio label { float:left; cursor:pointer; padding-left:23px; outline:none; color:#2b2b2b; line-height:18px; }
.inp-check label .box { position:absolute; width:16px; height:16px; top:1px; left:1px; background:#fff url(/images/bg_checkbox.png) no-repeat left bottom; overflow:hidden;}
.inp-radio label .box { position:absolute; width:16px; height:16px; top:1px; left:1px; background:#fff url(/images/bg_radio.png) no-repeat left bottom; overflow:hidden;}
.inp-check label.on .box, .inp-radio label.on .box { background-position:left top; }
.inp-check input:focus + label .box, .inp-radio input:focus + label .box { outline:1px dotted #999; outline:-webkit-focus-ring-color auto 5px; }

.inp-check.non-tx label, .inp-radio.non-tx label { width:18px; padding-left:0; text-indent:-10000px; }*/

/* select 디자인 적용 - IE제외 */
select { -webkit-appearance:none; appearance:none; display:inline-block; padding:0 9px; width:100%; height:34px; border:1px solid #aaa; border-radius:4px; text-align:left; background:#fff url(/images/bg_select.png) no-repeat right 50%; }

/* select 디자인 적용 + js (IE대응) - 미사용시 주석 처리 */
.inp-select { position:relative; height:34px; z-index:100; } /* 너비 및 높이는 직접 설정 */
.inp-select > select { display:none; }
.inp-select .btn-select { display:block; padding:0 9px; width:100%; height:100%; border:1px solid #aaa; border-radius:4px; text-align:left; background:#fff url(/images/bg_select.png) no-repeat right 50%; }
.inp-select .btn-select > span { position:relative; display:block; width:100%; padding-right:25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; box-sizing:border-box; }
.inp-select .select-list { position:absolute; display:none; width:100%; max-height:300px; top:33px; left:0; padding:5px 0; border:1px solid #aaa; background:#fff; overflow-x:hidden; overflow-y:auto; box-sizing:border-box;} /* 리스트 부분은 전체 너비 및 높이에서 2px 빼고 설정 */
.inp-select.on .select-list { display:block; }
.inp-select .select-list li.hidden { display:none; }
.inp-select .select-list li button { display:block; width:100%; padding:6px 10px; color:#666; text-align:left; }
.inp-select .select-list li button:disabled { opacity:.5; }

.inp-select.double-line .select-list { width:200%; }
.inp-select.double-line li { float:left; width:50%; }

/* file */
.inp-file { position:relative; display:inline-block; min-width:200px; height:34px; padding-right:82px; vertical-align:middle; font-size:13px; line-height:32px; box-sizing:border-box; } /* 너비 및 높이는 직접 설정 - 200 이하일 경우 label 및 input width 조정 */
.inp-file input[type=file] { position:absolute; width:1px; height:1px; padding:0; top:0; left:0; z-index:-1; opacity:0; overflow:hidden; }
.inp-file .inp-file-url { display:inline-block; width:100%; height:inherit; padding:0 30px 0 5px; border:1px solid #aaa; font-size:inherit; line-height:inherit; box-sizing:border-box; }
.inp-file label { position:absolute; width:80px; top:0; right:0; cursor:pointer; letter-spacing:-0.05em; }
.inp-file .btn-clear { position:absolute; display:none; width:24px; height:24px; top:5px; right:85px; line-height:24px; }
.inp-file input[type=file]:disabled + .btn-clear { display:none; }
/* // file */

/* 달력기능 - width 값 변경 시 별도 설정 */
.inp-cal { position:relative; padding-right:36px; box-sizing:border-box; }
.inp-cal:after { content:''; display:block; clear:both; }
.inp-cal .btn-cal { position:absolute; top:0; right:0; width:34px; height:34px; text-align:center; line-height:34px; vertical-align:top; text-indent:-10000px; background:url(/images/cal.gif) no-repeat 50% 50%; }
.inp-cal .btn-cal img { vertical-align:middle; }
.inp-cal.range { min-width:320px; padding-right:0; }
.inp-cal.range > span { position:relative; display:block; float:left; width:47%; padding-right:36px; box-sizing:border-box; }
.inp-cal.range > i { display:block; float:left; width:6%; padding-right:3px; box-sizing:border-box; line-height:34px; min-width:10px; text-align:center; }

/* button =============================================================== */
.btn { display:inline-block; background:#555; color:#fff; box-sizing:border-box; border-radius:4px; vertical-align:middle; }
.btn.xlarge { height:50px; padding:5px 30px; font-size:20px; line-height:40px; }
.btn.large { height:40px; padding:5px 22px; font-size:16px; line-height:30px; }
.btn.medium { height:34px; padding:5px 16px; font-size:12px; line-height:24px; }
.btn.small { height:26px; padding:4px 12px; font-size:12px; line-height:18px; }
.btn.xsmall { height:20px; padding:3px 8px; font-size:11px; line-height:14px; }
button.btn-xl > span, button.btn-l > span, button.btn-m > span, button.btn-s > span, button.btn-xs > span { position:relative; }

.btn.gray { background:#999; }
.btn.red { background:#ea002c; }
.btn.white { background:#fff; color:#333; border:1px solid #555; }

.ico-btn { display:inline-block; vertical-align:0; }

.btn-group { display:block; margin:20px 0; text-align:center; overflow:hidden; }
.btn-group > span { float:left; width:49.5%; margin-left:1%; }
.btn-group > span:first-child { margin-left:0; }
.btn-group.item3 > span { width:32.7%; }
.btn-group.item3 > span:first-child { width:32.6%; }
.btn-group.item4 > span { width:24.25%; }
.btn-group > span > a, .btn-group > span > button { width:100%; }

/* table =============================================================== */
th, td { padding:10px; border:1px solid #ccc; border-top:none; }
th { font-size:13px; background:#eee; }
.tbl-wrap { border-top:1px solid #000; }
.tbl-wrap .icon-imp { display:inline-block; width:12px; vertical-align:0; color:#ff0000; text-indent:-10000px; background:url(/images/icon_tbl-imp.png) no-repeat left 5px; }

.tbl-ver th, .tbl-ver td { border-right:none; }
.tbl-ver tr th:first-child, .tbl-ver tr td:first-child { border-left:none; }
.tbl-ver tr th.line, .tbl-ver tr td.line { border-left:1px solid #ccc; }

.tbl-wrap .no-data { text-align:center; padding:30px 0; font-size:14px; line-height:1.4em; color:#666; }

/* 테이블 위아래 컨텐츠 */
.tbl-top-cnt { margin-bottom:8px; }
.tbl-top-cnt:after { content:''; display:block; clear:both; }
.tbl-top-cnt .sch-result { font-size:13px; line-height:1.4em; }

p.under-desc { display:block; margin-top:8px; font-size:12px; line-height:1.4em; color:#666; }
ul.under-desc { margin-top:5px; }
ul.under-desc li { margin:3px 0; font-size:12px; line-height:1.4em; color:#666; }

/* Float =============================================================== */
.float-wrap { overflow:hidden; }
.float-clear:after { content:''; display:block; clear:both; }
.fl { float:left !important; }
.fr { float:right !important; }
.float-block { display:block; overflow:hidden; }

/* paging =============================================================== */
.paging { margin:20px 0; text-align:center; }
.paging > span a, .paging > span button, .btn-paging { display:inline-block; min-width:30px; height:30px; padding:0 5px; font-size:14px; line-height:30px; border:1px solid #ccc; vertical-align:middle; border-radius:2px; box-sizing:border-box; color:#777; }
.paging > span { display:inline-block; margin:0 10px; }
.paging > span a.on, .paging > span button.on { background:#555; color:#fff; border-color:#555; }
.btn-paging { text-indent:-10000px; background-repeat:no-repeat; background-position:left top; border:none; }
.btn-paging.first { background-image:url(/images/paging_first.png); }
.btn-paging.prev { background-image:url(/images/paging_prev.png); }
.btn-paging.next { background-image:url(/images/paging_next.png); }
.btn-paging.end { background-image:url(/images/paging_end.png); }

/* Tab menu =============================================================== */
.tab-menu { width:100%; margin-bottom:20px; }
.tab-menu ul { width:100%; vertical-align:top; margin:1px 0 0 1px; }
.tab-menu li { position:relative; float:left; width:50%; box-sizing:border-box; z-index:0; }
.tab-menu li.on { z-index:1; }
.tab-menu li a { display:block; margin:-1px 0 0 -1px; padding:12px 5px; text-align:center; font-size:14px; line-height:1.2em; border:1px solid #aaa; }
.tab-menu li.on a { background:#777; color:#fff; border-color:#777; }
.tab-menu.count3 li { width:33.33%; }
.tab-menu.count4 li { width:25%; }
.tab-menu.count5 li { width:20%; }
.tab-cnt { display:none; }
#tab-cnt1 { display:block; }

/* Toggle menu =============================================================== */
.tgl-wrap { width:100%; }
.tgl-wrap ul { width:100%; border-top:1px solid #aaa; }
.tgl-wrap li { border-bottom:1px solid #aaa; }
.tgl-wrap .btn-tgl { display:block; width:100%; padding:14px 15px; box-sizing:border-box; text-align:left; }
.tgl-wrap .btn-tgl span { position:relative; display:block; background:url(/images/ico_arrow-updown.png) no-repeat right -44px; }
.tgl-wrap .btn-tgl.on span { background-position:right 2px; }
.tgl-wrap .tgl-cnt { display:none; padding:15px; border-top:1px solid #aaa; background:#eee; }
.tgl-cnt { display:none; }
.btn-tgl.on + .tgl-cnt { display:block; }

/* 시스템팝업 =============================================================== */
#popup { position:relative; }
#pop-top { width:100%; background:#666; }
.pop-title { padding:10px 15px; font-size:20px; line-height:1.4em; color:#fff; }
#pop-mid { padding:10px; }
#popup footer { width:auto; margin:0; }
#popup .btn-close-popup { position:absolute; width:20px; height:20px; top:13px; right:13px; color:#fff; text-indent:-10000px; background:url(/images/ico_close-popup.png) no-repeat left top; }

/* layer-pop =============================================================== */
/* layer-pop - v1.0 용
.layer-pop { position:fixed; display:none; width:100%; height:100%; top:0; left:0; z-index:1000; }
.layer-pop .layer-bg { position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,.5); z-index:1000; }
.layer-pop .layer-bg { position:fixed; width:100%; height:100%; top:0; left:0; background:url(/images/blank.png); z-index:100; }
.layer-pop .layer-cnt { position:absolute; width:90%; top:20%; left:5%; background:#fff; z-index:101; }
*/

/* layer-pop - v4.0 용*/
.layer-pop,
.layer { position:fixed; display:none; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,.8); overflow-x:hidden; overflow-y:auto; z-index:1000; }
.layer > .inbox { display:flex; align-items:center; height:calc(100% - 60px); margin:30px; }
.layer-cnt { position:relative; display:flex; flex-direction:column; width:700px; max-height:100%; margin:auto; padding:25px; background:#fff; box-sizing:border-box;}
.layer-top { position:relative; height:50px; flex-basis:50px; flex-shrink:0; }
.layer-mid { flex:1 1 auto; overflow-y:auto; }
.layer.showOn { display:block; }

/* 알럿 및 confirm 스타일용
.layer.alert {  }
.laery.confirm {  }
*/

/* Toast 및 Snack Bar =============================================================== */
.toast { position:fixed; display:none; width:100%; height:100%; top:0; left:0; z-index:1001; }
.toast .toast-cnt { position:relative; width:90%; top:5%; left:5%; padding:15px; background-color:#fff; border-radius:5px; box-sizing:border-box; box-shadow:1px 1px 6px rgba(0,0,0,.3); transform:translateY(-1000px); }
.toast.show { display:block; }
.toast.show .toast-cnt { transform:translateY(0); animation:toastShow 3s; }

.toast.bottom .toast-cnt { top:95%; transform:translateY(-100%); }

@keyframes toastShow {
	0%, 100% { opacity:0; }
	20%, 80% { opacity:1; }
}


/* 말풍선 =============================================================== */
.balloon-wrap { position:relative; display:inline-block; z-index:0;}
.balloon-wrap:hover { z-index:1; }
.balloon-wrap .balloon { position:absolute; visibility:hidden; padding:10px; top:calc(100% + 5px); left:0; background:#aaa; white-space:nowrap; opacity:0; transition:opacity .3s, visibility .3s; }
.balloon-wrap .balloon.center { transform:translate3d(-50%, 0, 0); margin-left:50%; }
.balloon-wrap .balloon.center:after { left:50%; margin-left:-5px; }
.balloon-wrap .balloon.top { top:auto; bottom:calc(100% + 5px); }
.balloon-wrap .balloon.top:after { top:auto; bottom:-10px; transform:rotate(180deg); }
.balloon-wrap .balloon.right { top:50%; left:calc(100% + 10px); transform:translate3d(0, -50%, 0); }
.balloon-wrap .balloon.right:after { top:50%; left:-10px; margin-top:-5px; transform:rotate(-90deg); }
.balloon-wrap .balloon.left { top:50%; left:auto; right:calc(100% + 10px); transform:translate3d(0, -50%, 0); }
.balloon-wrap .balloon.left:after { top:50%; left:auto; right:-10px; margin-top:-5px; transform:rotate(90deg); }
.balloon-wrap.on .balloon,
.balloon-wrap:not(.click) .btn-bln:hover + .balloon { visibility:visible; opacity:1; }
.balloon-wrap .balloon:after { content:''; position:absolute; width:0; height:0; top:-10px; left:5px; border:5px solid transparent; border-bottom-color:#aaa; }

/* 약관 =============================================================== */
.article-wrap .aw-tit { margin-bottom:25px; font-size:20px; line-height:24px; color:#333; font-weight:bold; }
.article-wrap .article-cnt { margin-bottom:20px; }
.article-wrap .ac-tit { margin-bottom:10px; font-size:16px; line-height:20px; color:#333; font-weight:bold; } 
.article-wrap p, .article-wrap li { margin:3px 0; font-size:13px; line-height:18px; color:#666; }
.article-wrap ul, .article-wrap ol { width:100%; }
.article-wrap ul > li { padding-left:0.6em; text-indent:-0.6em; }
.article-wrap ul.star > li { padding-left:1em; text-indent:-1em; }
.article-wrap ol > li { padding-left:1em; text-indent:-1em; }
.article-wrap ol.tx-kor > li { padding-left:1.5em; text-indent:-1.5em; }
.article-wrap ol.tx-alpha > li { padding-left:1.1em; text-indent:-1.1em; }
.article-wrap ol.tx-circle > li { padding-left:1.3em; text-indent:-1.3em; }
.article-wrap li > ol, .article-wrap li > ul { margin:3px 0; }
.article-wrap .tbl { margin:15px 0; border-top:1px solid #666; font-size:12px; line-height:1.4em; color:#666;}
.article-wrap th, .article-wrap td { padding:10px; text-align:left; font-size:13px; line-height:18px; color:#666; border-bottom:1px solid #ddd; }
.article-wrap th { background:#f2f2f2; text-align:center;}
.article-wrap .tbl-desc + .tbl { margin-top:5px; }
.article-wrap .tbl + .tbl-desc { margin:-10px 0 10px; }

/* timepicker ======================================================== */
.inp-time { position:relative; }
.time-wrap { position:absolute; display:none; top:100%; left:0; width:calc(100% - 2px); background:#fff; border:1px solid #aaa; border-radius:3px;; z-index:200; }
.time-wrap.show { display:block; }
.time-wrap .result-tx { margin:0; padding:5px; font-size:16px; line-height:24px; text-align:center; }
.time-wrap .roll-wrap { position:relative; display:flex; justify-content:flex-start; height:210px; border-top:1px solid #aaa; border-bottom:1px solid #aaa; }
.time-wrap .roll-wrap:after { content:''; position:absolute; width:100%; height:30px; top:50%; left:0; margin-top:-15px; background:rgba(0,0,0,.1); }
.time-wrap .roll-wrap > div { position:relative; flex:1; max-height:100%; padding:90px 0; overflow-y:auto; z-index:1; -ms-overflow-style: none; scrollbar-width: none;}
.time-wrap .roll-wrap > div + div { border-left:1px solid #aaa; }
.time-wrap .roll-wrap > div::-webkit-scrollbar { display:none; }
.time-wrap .roll-wrap ul { width:100%; }
.time-wrap .roll-wrap li button { display:block; width:100%; font-size:16px; line-height:30px; text-align:center; }
.time-wrap .roll-wrap li button.on { font-weight:bold; }
.time-wrap .btns { display:flex; }
.time-wrap .btns > button { flex:1; padding:7px 3px; border-radius:0; }