@charset "utf-8";

/* -- date : 2026-03-19 -- */
/* -- snamo(Seo nam ho) in m.s.p -- */

/* z-index 설정
기본 화면 : none / 0
GNB / 기타 메뉴 및 header 영역이 화면 위에 위치할 경우: 1000
기타 event 적 요소 (select / calendar 등) : 3000
레이어팝업 : 5000
*/

* { margin:0; padding:0; -webkit-text-size-adjust:none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { font-size:12px; line-height:1.5em; min-width:320px; }
body * { font-family:Roboto,'Droid Sans',AppleSDGothicNeo,Helvetica,sans-serif; box-sizing:border-box; }
ul,ol { display:block; list-style:none; }
li, dd { list-style:none; }
img, fieldset, button{ border:0; }
img, input, select { vertical-align:top; width:100%; }
textarea { resize:none; vertical-align:top; }
img { width:100%; }
a { text-decoration:none; vertical-align:top; color:inherit; }
a:hover,a:active,a:focus { text-decoration:none; }
button { display:inline-block; border:0; background:none; cursor:pointer; }
button,input,optgroup,select,textarea{ font-family:inherit; }
table{ border-collapse:separate; border-spacing:0; width:100%; table-layout:fixed; }
caption { height: 1px; overflow: hidden; line-height: 0; margin-top: -1px; color: transparent; }
.hide { position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; zoom:1; text-indent:-9999px; z-index:0; overflow:hidden; }

/* skip navi */
#skip-navi { position:relative; z-index:1000; }
#skip-navi > a { position:absolute; width:100%; height:30px; top:-50px; left:0; text-align:center; font-size:13px; line-height:30px; color:#fff; background:#444; }
#skip-navi > a:focus { top:0; }

input, select { -webkit-appearance:none; -moz-appearance:none; appearance:none; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type=time]::-webkit-calendar-picker-indicator { -webkit-appearance: none; -moz-appearance: none; appearance: none; display:none; }
input[type=number] { -moz-appearance:textfield; appearance:textfield; } /* firefox 용 */

/* 공통 변수 =============================================================== */
:root { 
	--body-min-width : 320px;
	--color-red : #ea002c;
}

/* layout =============================================================== */
#wrap { display:flex; flex-direction:column; width:100%; height:100%; }

html, body { height:100%; min-width:var(--body-min-width); }
body.hold { touch-action:none; -webkit-overflow-scrolling:none; overflow:hidden; } /* ios 스크롤방지설정 */
body.hold-fixed { position:fixed !important; width:100%; top:0; left:0; } /* 모바일용 : ios 용 설정 - scroll 있는 화면의 layer 에 input 을 focus 시 keypad 로 인한 강제 스크롤 방지 */

#header,
#footer { flex-shrink:0; }
#content { flex:1; }

.obs-item { position:relative; width:100%; height:5px; left:0; bottom:0; margin-top:-5px; opacity:0; z-index:0; } /* 화면 최하단 스크롤 감지용 item */

/* mid 설정 -------------------- */
#content > .contents { display:flex; justify-content:space-between; align-items:stretch; height:100%; margin:0 auto; }
#content > .contents .cnt-wrap { flex:1; }

.cnt-wrap { display:block; padding:10px; box-sizing:border-box; }

/* btm 설정 -------------------- */
.copy { margin:0 auto; padding:10px; box-sizing:border-box; }

/* common ===============================================================*/
.txt-c { text-align:center !important; }
.txt-l { text-align:left !important; }
.txt-r { text-align:right !important; }

.tx-red { color:var(--color-red) !important; }

.under-l { text-decoration:underline; }

.location { text-align:right; font-size:12px; line-height:1.4em; color:#666; }
.location span, .location a { display:inline-block; margin-right:5px; }

.ellipsis { width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; vertical-align:top; }

.div-line { position:relative; display:inline-block; padding-left:5px; }
.div-line::before { content:''; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background-color:#ccc; }

/* flex */
.flex-box { display:flex; justify-content:space-between; align-items:center; }
.flex-box.column { flex-direction:column; }
.f-center { justify-content:center !important; }
.f-start { justify-content:flex-start !important; }
.f-end { justify-content:flex-end !important; }
.f-top { align-items:flex-start !important; }
.f-mid { align-items:center; align-content:center; }
.f-btm { align-items:flex-end; }
.flex-self-top { align-self:flex-start; }
.flex-self-mid { align-self:center; }
.flex-self-btm { align-self:flex-end; }
.flex1 { flex:1; }

/* 컨텐츠 box ===============================================================*/
#content > *[class*="__cnt"] { margin-left:auto; margin-right:auto; }
* + *[class*="__cnt"] { margin-top:30px; }

/* 타이틀 및 기본 text / desc 설정 ===============================================================*/
*[class*="__title"] { display:block; }
*[class*="__title"] > .desc { display:inline-block; margin-left:5px; vertical-align:bottom; color:#666; font-weight:normal; }
.page__title { font-size:24px; line-height:32px; }
.page__title > .desc { font-size:14px; line-height:20px; }
.cnt__title { font-size:18px; line-height:26px; }
.cnt__title > .desc { font-size:13px; line-height:18px; }

/* input =============================================================== */
input, select { -webkit-appearance:none; -moz-appearance:none; appearance:none; }
input::-ms-clear {display:none; width:0; height:0;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type=time]::-webkit-calendar-picker-indicator { -webkit-appearance: none; -moz-appearance: none; appearance: none; display:none; }
select:-ms-expend { display:none; }
input[type=search]::-webkit-search-cancel-button { display:none; }

.input-box { display:inline-block; width:100%; padding:7px 10px; font-size:13px; line-height:18px; border:1px solid #aaa; box-sizing:border-box; border-radius:4px; color:#333; }

.inp-set { display:block; }
.inp-set + .inp-set { margin-top:8px; }

.inp-set.ver { display:flex; align-items:center; }

.inp-del { position:relative; display:block; }
.inp-del.inline { display:inline-block; }
.inp-del input { width:100%; padding-right:40px; box-sizing:border-box; }
.inp-del .btn-clear { position:absolute; opacity:0; top:5px; right:6px; z-index:10; }
.inp-del .btn-clear.on,
.inp-del .btn-clear:focus { opacity:1; }
.btn-clear { display:block; width:24px; height:24px; text-indent:-10000px; background:url(/images/ico_inp-empty.png) no-repeat 50% 50% / 14px 14px; border-radius:50%; }

.error-msg { display:none; padding-top:5px; }
.error .error-msg { display:block; }

/* checkbox / radio - IE제외 */
input.radio { position:relative; display:inline-block; width:18px; height:18px; border:1px solid #bbb; border-radius:50%; }
input.radio:disabled { opacity:.5; }
input.radio::after { content:''; position:absolute; width:10px; height:10px; top:50%; left:50%; margin:-5px 0 0 -5px; background-color:transparent; border-radius:50%; transition:background-color .2s; }
input.radio:checked::after { background-color:#f54615; }

input.checkbox { position:relative; display:inline-block; width:18px; height:18px; border:1px solid #bbb; border-radius:2px; }
input.checkbox::after { content:''; position:absolute; width:8px; height:4px; top:3px; left:3px; border-left:2px solid transparent; border-bottom:2px solid transparent; transition:border-color .2s; transform:rotate(-45deg);}
input.checkbox:checked::after { border-color:#f54615; }

/* 토글형 checkbox */
input.check_tgl { position:relative; display:inline-block; flex-shrink:0; width:50px; height:24px; border:none; background-color:#E3E3E3; border-radius:15px; transition:background-color .2s; }
input.check_tgl::after { content:''; position:absolute; width:20px; height:20px; top:2px; left:2px; background-color:#fff; border-radius:50%; box-shadow:0px 1px 4px rgba(0,0,0,.2); transition:transform .2s; }
input.check_tgl:checked { background-color:#1C6E94; }
input.check_tgl:checked::after { transform:translate3d(26px,0,0); }
input.check_tgl.withtx::before { content:'OFF'; position:absolute; width:30px; height:100%; padding:0 5px; right:0; font-size:10px; line-height:24px; text-align:center; color:#fff; box-sizing:border-box; transition:transform .2s; }
input.check_tgl.withtx:checked::before { content:'ON'; transform:translate3d(-20px,0,0); }
input.check_tgl:disabled::after { background-color:rgba(255,255,255,.2); }

/* select 디자인 적용 - IE제외 */
select { -webkit-appearance:none; appearance:none; display:inline-block; padding:0 9px; width:100%; height:34px; border:1px solid #aaa; border-radius:4px; text-align:left; background:#fff url(/images/bg_select.png) no-repeat right 50%; }
select:invalid { color:#aaa; }
select option { color:#000 }

/* file */
.inp-file { position:relative; display:inline-flex; gap:5px; min-width:200px; height:34px; vertical-align:middle; font-size:13px; line-height:32px; box-sizing:border-box; } /* 너비 및 높이는 직접 설정 - 200 이하일 경우 label 및 input width 조정 */
.inp-file input[type=file] { position:absolute; width:1px; height:1px; padding:0; top:0; left:0; z-index:-1; opacity:0; overflow:hidden; }
.inp-file .in-set { position:relative; }
.inp-file .inp-file-url { display:inline-block; width:100%; padding-right:30px; border:1px solid #aaa; box-sizing:border-box; }
.inp-file label { flex-shrink:0; width:80px; top:0; right:0; cursor:pointer; letter-spacing:-0.05em; box-sizing:border-box;}
.inp-file.focus label { outline:2px solid #000; }
.inp-file .btn-clear { position:absolute; display:none; width:24px; height:24px; top:5px; right:5px; line-height:24px; }
/* // file */

/* 달력 입력 input - width 값 변경 시 별도 설정 */
.inp-cal { position:relative; padding-right:36px; box-sizing:border-box; }
.inp-cal:after { content:''; display:block; clear:both; }
.inp-cal .btn-cal { position:absolute; top:0; right:0; width:34px; height:34px; text-align:center; line-height:34px; vertical-align:top; text-indent:-10000px; background:url(/images/cal.gif) no-repeat 50% 50%; }
.inp-cal .btn-cal img { vertical-align:middle; }
.inp-cal.range { display:flex; min-width:320px; }
.inp-cal.range > i { display:block; width:6%; min-width:10px; margin:0 6px; box-sizing:border-box; line-height:34px; text-align:center; }

.inp-time { position:relative; }
.inp-time .btn-open { position:absolute; width:100%; height:100%; top:0; left:0; opacity:0; z-index:1; }

/* button =============================================================== */
.btn { display:inline-flex; justify-content:center; align-items:center; gap:4px; font-size:12px; line-height:24px; background:#555; color:#fff; box-sizing:border-box; border-radius:4px; vertical-align:middle; }
.btn.xlarge { height:50px; padding:5px 30px; font-size:20px; line-height:40px; }
.btn.large { height:40px; padding:5px 22px; font-size:16px; line-height:30px; }
.btn.medium { height:34px; padding:5px 16px; font-size:12px; line-height:24px; }
.btn.small { height:26px; padding:4px 12px; font-size:12px; line-height:18px; }
.btn.xsmall { height:20px; padding:3px 8px; font-size:11px; line-height:14px; }

.btn.inline { width:auto; }
.btn.round { border-radius:50px; }
.btn.slim { padding-left:5px; padding-right:5px; }

.btn.gray { background:#999; }
.btn.red { background:var(--color-red); }
.btn.white { background:#fff; color:#333; border:1px solid #555; }

.btn.tx { background-color:transparent; color:#222; border-radius:0; }

.btns { display:flex; justify-content:center; font-size:0; }
.btns > .btn { flex:1; }
.btns > * + * { margin-left:5px; }

.btn-pm { position:relative; display:inline-block; width:24px; height:24px; text-indent:-9999px; }
.btn-pm::after { content:''; position:absolute; top:11px; left:5px; width:14px; height:2px; background-color:#222; border-radius:2px; }
.btn-pm.plus::before { content:''; position:absolute; top:5px; left:11px; width:2px; height:14px; background-color:#222; border-radius:2px; }

/* table =============================================================== */
.tbl { border:1px solid #ddd; }
.tbl th { padding:8px 10px; background-color:#eee; }
.tbl thead th + th { border-left:1px solid #ddd; }
.tbl td { padding:8px 10px; border-top:1px solid #ddd; }
.tbl * + td { border-left:1px solid #ddd; }

/* 테이블 위아래 컨텐츠 */
.tbl-near { margin-bottom:8px; }
.tbl-near:after { content:''; display:block; clear:both; }

.tbl.th-sticky { position:relative; overflow-x:hidden; overflow-y:scroll; }
.tbl.th-sticky th + th { border-left:1px solid #ddd; }
.tbl.th-sticky thead th { border-bottom:1px solid #ddd; }
.tbl.th-sticky tbody > tr:first-child > * { border-top:none; }
.tbl.th-sticky table { border-collapse:separate; border-spacing:0; }
.tbl.th-sticky thead { position:sticky; top:0; left:0; }

.tbl.th-fixed table { border-collapse:separate; border-spacing:0; }
.tbl.th-fixed { position:relative; border:1px solid #ccc; }
.tbl.th-fixed > table thead th { border-bottom:1px solid #ddd; }
.tbl.th-fixed .tbl-cnt { position:relative; max-height:100px; overflow-x:hidden; overflow-y:scroll; }
.tbl.th-fixed .tbl-cnt thead { position:absolute; top:0; left:0; width:100%; height:1px; opacity:0; z-index:-1; overflow:hidden; }
.tbl.th-fixed .tbl-cnt tbody > tr:first-child > * { border-top:none; }
.tbl.th-fixed tr th:first-child, 
.tbl.th-fixed tr td:first-child { border-left:none; }
.tbl.th-fixed tr th:last-child, 
.tbl.th-fixed tr td:last-child { border-right:none; }

/* paging =============================================================== */
.paging { margin:20px 0; text-align:center; }
.paging > span a, .paging > span button, .btn-paging { display:inline-block; min-width:30px; height:30px; padding:0 5px; font-size:14px; line-height:26px; border:1px solid #ccc; vertical-align:middle; border-radius:2px; box-sizing:border-box; color:#777; }
.paging > span { display:inline-block; margin:0 10px; }
.paging > span a.on, .paging > span button.on { background:#555; color:#fff; border-color:#555; }
.btn-paging { text-indent:-10000px; background-repeat:no-repeat; background-position:left top; border:none; }
.btn-paging.first { background-image:url(/images/paging_first.png); }
.btn-paging.prev { background-image:url(/images/paging_prev.png); }
.btn-paging.next { background-image:url(/images/paging_next.png); }
.btn-paging.end { background-image:url(/images/paging_end.png); }

/* Tab menu =============================================================== */
.tab-menu { display:flex; width:100%; margin-bottom:20px; }
.tab-menu li { position:relative; flex:1; box-sizing:border-box; z-index:0; }
.tab-menu li .btn-tab { display:block; width:100%; padding:12px 5px; text-align:center; font-size:14px; line-height:1.2em; border:1px solid #aaa; }
.tab-menu li .btn-tab.on { background:#777; color:#fff; border-color:#777; }
.tab-cnt:not(.show) { display:none; }
.tab-cnt[tabindex="-1"] { outline:none; }

/* Toggle menu =============================================================== */
.tgl-wrap { width:100%; }
.tgl-wrap ul { width:100%; border-top:1px solid #aaa; }
.tgl-wrap li { border-bottom:1px solid #aaa; }
.tgl-wrap .btn-tgl { display:block; width:100%; padding:14px 15px; box-sizing:border-box; text-align:left; }
.tgl-wrap .btn-tgl span { position:relative; display:block; background:url(/images/ico_arrow-updown.png) no-repeat right -44px; }
.tgl-wrap .btn-tgl.on span { background-position:right 2px; }
.tgl-wrap .tgl-cnt { display:none; padding:15px; border-top:1px solid #aaa; background:#eee; }
.tgl-cnt { display:none; }
.btn-tgl.on + .tgl-cnt { display:block; }

/* 시스템팝업 =============================================================== */
#popup { position:relative; }
#pop-top { width:100%; background:#666; }
.pop-title { padding:10px 15px; font-size:20px; line-height:1.4em; color:#fff; }
#pop-mid { padding:10px; }
#popup footer { width:auto; margin:0; }
#popup .btn-close-popup { position:absolute; width:20px; height:20px; top:13px; right:13px; color:#fff; text-indent:-10000px; background:url(/images/ico_close-popup.png) no-repeat left top; }

/* layer-pop - v5.0 이상 =============================================================== */
.layer { position:fixed; display:block; visibility:hidden; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,.8); overflow:hidden; backdrop-filter:blur(4px); opacity:0; transition:.1s opacity; transform:translate3d(0, 100%, 0); z-index:1000; }
.layer > .inbox { display:flex; align-items:center; height:calc(100% - 60px); margin:30px; }
.layer-cnt { position:relative; display:flex; flex-direction:column; width:700px; max-height:100%; margin:auto; padding:25px; background:#fff; box-sizing:border-box;}
.layer-top { position:relative; height:50px; flex-basis:50px; flex-shrink:0; }
.layer-mid { flex:1 1 auto; overflow-y:auto; }
.layer.show { visibility:visible; transform:translate3d(0,0,0); opacity:1; }

.layer.btm { top:auto; bottom:0; }
.layer.btm > .inbox { align-items:flex-end; height:100%; margin:0; }
.layer.btm .layer-cnt { width:100%; margin:0; transform:translate3d(0, 100%, 0); transition:transform .5s cubic-bezier(.1,0,.13,1); }
.layer.btm.show .layer-cnt { transform:translate3d(0,0,0); will-change:trnasform; }

.layer.direct,
.layer.direct .layer-cnt { transition:none !important; } /* 레이어 팝업 오픈 후 특정 input 에 focus 가 바로 되어야 할 경우 필수 클래스 (transition 제거로 인해 keypad 모션과의 충돌 제거) */

.layer .btn-close { position:absolute; top:18px; right:15px; width:30px; height:30px; text-indent:-9999px; background:#fff url(../images/ico_x.svg) no-repeat center center / 16px auto; }

/* 알럿 및 confirm 스타일용
.layer.alert {  }
.laery.confirm {  }
*/

/* dialog =============================================================== */
dialog { width:100%; height:100%; margin:auto; background-color:transparent; border:none;}
dialog[open] { display:flex; align-items:center; }
dialog::backdrop { background-color:rgba(0,0,0, .8); backdrop-filter:blur(3px); }

/* Toast 및 Snack Bar =============================================================== */
.toast { position:fixed; display:none; width:100%; height:100%; top:0; left:0; z-index:1001; }
.toast .toast-cnt { position:relative; display:flex; justify-content:space-between; align-items:center; width:90%; top:5%; left:5%; padding:10px 15px; background-color:#2C3038; color:#fff; border-radius:5px; box-sizing:border-box; box-shadow:1px 1px 6px rgba(0,0,0,.3); transform:translateY(-1000px); }
.toast.show { display:block; }
.toast.show .toast-cnt { transform:translateY(0); animation:toastShow 3s; }

.toast.bottom .toast-cnt { top:95%; transform:translateY(-100%); }

@keyframes toastShow {
	0%, 100% { opacity:0; }
	20%, 80% { opacity:1; }
}

/* 말풍선 =============================================================== */
.bln-wrap { position:relative; display:inline-block; }
.bln-wrap:hover { z-index:1; }
.bln-wrap .bln { position:absolute; visibility:hidden; padding:10px; top:calc(100% + 5px); left:0; background:#aaa; white-space:nowrap; opacity:0; transition:opacity .3s, visibility .3s; z-index:1; }
.bln-wrap .bln.center { transform:translate3d(-50%, 0, 0); margin-left:50%; }
.bln-wrap .bln.center:after { left:50%; margin-left:-5px; }
.bln-wrap .bln.align-r { left:auto; right:0; }
.bln-wrap .bln.align-r:after { left:auto; right:5px; }
.bln-wrap .bln.top { top:auto; bottom:calc(100% + 5px); }
.bln-wrap .bln.top:after { top:auto; bottom:-10px; transform:rotate(180deg); }
.bln-wrap .bln.right { top:50%; left:calc(100% + 10px); transform:translate3d(0, -50%, 0); }
.bln-wrap .bln.right:after { top:50%; left:-10px; margin-top:-5px; transform:rotate(-90deg); }
.bln-wrap .bln.left { top:50%; left:auto; right:calc(100% + 10px); transform:translate3d(0, -50%, 0); }
.bln-wrap .bln.left:after { top:50%; left:auto; right:-10px; margin-top:-5px; transform:rotate(90deg); }
.bln-wrap.on .bln,
.bln-wrap:not(.click) .btn-bln:hover + .bln { visibility:visible; opacity:1; }
.bln-wrap .bln:after { content:''; position:absolute; width:0; height:0; top:-10px; left:5px; border:5px solid transparent; border-bottom-color:#aaa; }

/* 약관 =============================================================== */
.terms-wrap .aw-tit { margin-bottom:25px; font-size:20px; line-height:24px; color:#333; font-weight:bold; }
.terms-wrap .terms-cnt { margin-bottom:20px; }
.terms-wrap .ac-tit { margin-bottom:10px; font-size:16px; line-height:20px; color:#333; font-weight:bold; } 
.terms-wrap p, .terms-wrap li { margin:3px 0; font-size:13px; line-height:18px; color:#666; }
.terms-wrap ul, .terms-wrap ol { width:100%; }
.terms-wrap ul > li { padding-left:0.6em; text-indent:-0.6em; }
.terms-wrap ul.star > li { padding-left:1em; text-indent:-1em; }
.terms-wrap ol > li { padding-left:1em; text-indent:-1em; }
.terms-wrap ol.tx-kor > li { padding-left:1.5em; text-indent:-1.5em; }
.terms-wrap ol.tx-alpha > li { padding-left:1.1em; text-indent:-1.1em; }
.terms-wrap ol.tx-circle > li { padding-left:1.3em; text-indent:-1.3em; }
.terms-wrap li > ol, .terms-wrap li > ul { margin:3px 0; }

/* Select - 하단오픈형 ======================================================== */
.n-select > select { display:none; }
.n-select .btn-sel { display:block; width:100%; padding:10px 25px 10px 10px; font-size:1rem; line-height:1.6em; border:1px solid #ccc; box-sizing:border-box; border-radius:4px; text-align:left; color:var(--color-inp-tx); background:#fff url(../images/ico_select.svg) no-repeat right 10px top 50% / 16px auto; }

/* modal : layer 와는 별개로, 각 플러그인에서 자동생성하는 bottom sheet용 클래스 */
.modal { position:fixed; width:100%; height:100%; top:0; left:0; background-color:rgba(0,0,0,0); z-index:1000; transition:background-color 0.5s;}
.modal.on { background-color:rgba(0,0,0, .8); }
.modal .modal-title { font-size:18px; line-height:28px; font-weight:700; }
.modal .modal-cnt { position:absolute; width:100%; bottom:0; left:0; padding:20px 16px 0; border-radius:10px 10px 0 0; background-color:#fff; transform:translate3d(0,100%,0); box-sizing:border-box; transition:transform 0.5s cubic-bezier(.13,.01,.12, 1); }
.modal.on .modal-cnt { transform:translate3d(0,0,0); }

/* timepicker ======================================================== */
/* nTimePickerMobile_v1.0.0.js > nTimeSetMobile 함수 */
.sel-time { position:fixed; width:100%; height:100%; top:0; left:0; background-color:rgba(0,0,0,0); z-index:1000; transition:background-color 0.5s;}
.sel-time.on { background-color:rgba(0,0,0, .8); }
.sel-time .time-title { width:100%; }
.sel-time .btns { width:100%; }
.sel-time .sel-time-cnt { position:absolute; display:flex; flex-wrap:wrap; width:100%; bottom:0; left:0; padding:20px 16px 0; border-radius:10px 10px 0 0; background-color:#fff; transform:translate3d(0,100%,0); box-sizing:border-box; transition:transform 0.5s cubic-bezier(.13,.01,.12, 1); }
.sel-time.on .sel-time-cnt { transform:translate3d(0,0,0); }
.sel-time .scroll-wrap { flex:1; padding:0;}
.sel-time .area-hour button::after { content:'시'; }
.sel-time .area-min button::after { content:'분'; }

/* 스크롤을 통한 요소선택 공통 (모바일 select / time picker) */
.drag-scroll-area .scroll-wrap { position:relative; padding:0 15px; }
.drag-scroll-area .scroll-cnt { position:relative; max-height:100%; overflow-x:hidden; overflow-y:auto; box-sizing:border-box; z-index:5;  /*scroll-behavior:smooth;*/ }
.drag-scroll-area .scroll-cnt::-webkit-scrollbar { display:none; }
.drag-scroll-area .scroll-wrap::after { content:''; position:absolute; width:100%; height:48px; left:0; top:50%; margin-top:-24px; background-color:#EFF5FF; z-index:1; }
.drag-scroll-area .scroll-wrap:first-child::after { border-radius:8px 0 0 8px; }
.drag-scroll-area .scroll-wrap:last-child::after { border-radius:0 8px 8px 0; }
.drag-scroll-area .scroll-wrap + .scroll-wrap::after { content:':'; text-align:left; color:var(--color-main); font-size:1.57rem; line-height:48px; font-weight:600; }
.drag-scroll-area .sel-list { width:100%; vertical-align:top; }
.drag-scroll-area .sel-list li { width:100%; height:40px; padding:5px 10px; font-size:1.14286rem; line-height:1em; box-sizing:border-box; }
.drag-scroll-area .sel-list button { display:block; width:100%; height:100%; color:#A5AFC2; font-weight:600; text-align:center; transition:color .2s, font-size .2s;}
.drag-scroll-area .sel-list button:disabled { opacity:.5; }
.drag-scroll-area .sel-list li.sel button:not(:disabled) { color:var(--color-inp-tx); }
.drag-scroll-area .sel-list li.sel button,
.drag-scroll-area .sel-list li button.on { color:var(--color-main); font-size:1.57rem; background-color:transparent !important; font-weight:600; }
.drag-scroll-area .btns { margin:0; padding:16px 0; }
.drag-scroll-area .btn-sel-close { position:absolute; width:30px; height:30px; top:20px; right:15px; text-indent:-9999px; background:url(../images/ico_x-modal.svg) no-repeat center center / 16px auto;}

/* number selector - nTimePickerMobile_v1.0.0.js > nNumberSelector 함수 */
.num-selector { position:relative; box-sizing:border-box; }
.num-selector input { position:absolute; width:100%; height:40px; top:40px; left:0; background-color:transparent; text-align:center; font-size:30px; line-height:40px; font-weight:700; visibility:hidden; border:none; }
.num-selector .scroll-wrap {  position:relative; height:100%; box-sizing:border-box; overflow-x:hidden; overflow-y:auto; }
.num-selector .scroll-wrap::-webkit-scrollbar { display:none; }
.num-selector .scroll-wrap::after { display:none; }
.num-selector .scroll-wrap .num-tx { display:block; width:100%; height:40px; font-size:20px; line-height:40px; opacity:.5; transition:font-size .1s; }
.num-selector .scroll-wrap li.on .num-tx { font-size:30px; font-weight:700; opacity:1; }
.num-selector.inp input { visibility:visible; }
.num-selector.inp .scroll-wrap { pointer-events:none; opacity:0; }

	/* number selector 를 여러개 모아서 사용할 경우 */
.timer-set { display:flex; justify-content:space-around; align-items:flex-start; }
.timer-set .num-selector { flex:1; margin-top:30px; }
.timer-set .num-selector::before { content:'시간'; position:absolute; top:-30px; left:0; width:100%; font-size:1rem; line-height:1.875em; text-align:center; }
.timer-set .num-selector.min::before { content:'분'; }
.timer-set .num-selector.second::before { content:'초'; }

/* editor 용 리셋 */
.editor-view pre { word-break:break-all; }
.editor-view pre i, .editor-view pre em, .editor-view pre var { font-style:italic; }
.editor-view pre ol, .editor-view pre ul { display:block; margin:16px 0; padding-left:40px; }
.editor-view pre ol li { list-style:decimal; }
.editor-view pre ul li { list-style:disc; }
.editor-view pre table { table-layout:auto; border-collapse:separate; border-spacing: 2px; }