/* nCalendar_v3.0.0.js 대응 CSS */

.n_cal { position:fixed; display:none; width:100%; height:100%; left:0; bottom:0; box-sizing:border-box; background-color:rgba(0,0,0,.6); border-radius:5px; z-index:0; }
.n_cal .cal-inbox { position:absolute; width:100%; max-height:80vh; left:0; bottom:0; padding:30px 10px 20px; border-radius:10px 10px 0 0; box-sizing:border-box; background-color:#fff; overflow-y:auto; }
.n_cal.show { display:block; z-index:100; }
.n_cal.in-page { position:relative; display:block; background-color:transparent; }
.n_cal.in-page .cal-inbox { position:relative; }

.n_cal.dual .cal-inbox { flex-wrap:wrap; gap:0 20px; }
.n_cal.dual.range_month { gap:0 15px; }
.n_cal.dual.show .cal-inbox { display:block; }
.n_cal.dual.in-page .cal-inbox { position:relative; display:flex; flex-shrink:0; }
.n_cal.dual .cal-cnt + .cal-cnt { position:relative; margin-top:30px; }
.n_cal.dual .cal-cnt + .cal-cnt::before { content:''; position:absolute; width:1px; height:calc(100% - 50px); top:45px; left:-10px; border-left:1px dashed #ddd; }

.n_cal .cal-top { display:flex; justify-content:center; align-items:center; gap:6px; height:30px; margin-bottom:10px; padding:0 30px; font-size:14px; line-height:30px; }
.n_cal .cal-btn { position:absolute; top:30px; left:10px; display:block; width:30px; height:30px; text-indent:-9999px; background:url(../images/ico_arrow.svg) no-repeat center center / 45% 45%; border-radius:3px; z-index:10; }
.n_cal .cal-btn:disabled { opacity:.5; background-color:#eee; }
.n_cal .cal-top .now-tx,
.n_cal .cal-top .btn-shift { font-size:20px; line-height:24px; font-weight:600; }
.n_cal .cal-top .btn-shift { border-bottom:1px solid #222; }
.n_cal .cal-top .btn-shift.disabled { border-bottom:none; color:#222; }
.n_cal .cal-btn.next { left:auto; right:10px; }
.n_cal .cal-btn.prev { transform:rotate(180deg); }
.n_cal .cal-top select { display:inline-block; width:auto; height:30px; padding:0 30px 0 5px; font-size:13px; line-height:28px; background:url(../images/ico_select.svg) no-repeat right 5px top 50%; }

.n_cal .select button,
.n_cal .start button,
.n_cal .end button { background-color:#3e6fe0 !important; color:#fff; }
.n_cal .start,
.n_cal .end,
.n_cal .in-range { position:relative; }
.n_cal .start::before,
.n_cal .end::before,
.n_cal .in-range::before { content:''; position:absolute; display:block; width:100%; height:calc(100% - 2px); background-color:#d8e2f9; z-index:0; }
.n_cal .start::before { width:50%; right:0; }
.n_cal .end::before { width:50%; left:0; }
.n_cal .start.end::before { display:none; }

.n_cal li.start::before,
.n_cal li.end::before,
.n_cal li.in-range::before { height:100%; }
.n_cal li.start.end::before { display:none; }

.n_cal .cal-cnt { flex:1; }
.n_cal table th, 
.n_cal table td { border:none; }
.n_cal table th { padding:5px 5px 10px; background-color:#fff; color:#888; }
.n_cal table td { padding:1px 0; }
.n_cal table td button { position:relative; display:block; width:36px; height:36px; margin:0 auto; font-size:13px; line-height:20px; border-radius:50%; transition:background-color .1s; z-index:1; }
.n_cal:not(.range) table td:hover > button,
.n_cal.range table td > button:hover,
.n_cal.range li > button:hover { background-color:#d8e2f9; }

.n_cal .cal-btns { display:none; justify-content:center; align-items:center; width:100%; gap:6px; margin-top:10px; }
.n_cal .cal-btns:has(*) { display:flex; }
.n_cal .cal-btns > button { flex:1; display:inline-block; padding:8px 14px; font-size:13px; line-height:20px; border:1px solid #ccc; border-radius:3px; }
.n_cal .cal-btns > button:disabled { opacity:.5; background-color:#eee; }

.cal-month-list { display:flex; justify-content:space-between; flex-wrap:wrap; gap:5px 0; margin:0 auto; padding:5px 0; }
.dual .cal-month-list { width:100%; }
.cal-month-list > li { width:25%; text-align:center; }
.cal-month-list button { position:relative; display:inline-block; width:36px; height:36px; font-size:13px; line-height:20px; transition:background-color .2s; border-radius:50%; z-index:1; }
.cal-month-list button:hover { background-color:#eee; }

.n_cal.week table tr > * { transition:background-color .2s; }
.n_cal.week table td:hover button { background-color:transparent; }
.n_cal.week table tr:hover > *:not(.in-range):not(.start):not(.end) { background-color:#eee; } /* 마우스 오버 : 일 ~ 토 */
/* 마우스 오버 : 월 ~ 일
.n_cal.week table tr:hover > *:not(:first-child),
.n_cal.week table tr:hover + tr > *:first-child { background-color:#eee; } */