html,body,p,h1,h2,h3,h4,h5,h6,menu,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,hr,section,nav,article,footer,address,aside,figcaption,figure,header { margin:0;padding:0; }
body { background-color:#fff; font-size:0.75em; font-family:'맑은 고딕','돋움',Dotum,AppleGothic,Roboto,'Droid Sans',AppleSDGothicNeo,Helvetica,sans-serif; }
body *  { line-height:1.4em; }
input,textarea,select,button,table { font-size:1em; }
fieldset,button { border:0; }
input, select { vertical-align:middle; }
img { border:0; vertical-align:top; }
ul,ol { list-style:none; display:inline-block; vertical-align:top; }
em,address,i { font-style:normal; }
a { text-decoration:none; vertical-align:middle; }
a:hover,a:active,a:focus { text-decoration:underline; }
button { display:inline-block;overflow:hidden;border:0;background:none;cursor:pointer; }
table { border-collapse:collapse;border-spacing:0; width:100%; }
.hide { position:absolute; overflow:hidden; top:0; left:0; width:100%; height:1px; text-indent:-10000px; }
caption { height: 1px; overflow: hidden; line-height: 0; margin-top: -1px; color: transparent; }
textarea { resize:none; vertical-align:middle; }

html { width:100%; height:100%; }
body { width:100%; height:100%; /*background:linear-gradient(180deg, #fff 70px, rgba(0,0,0,.1) 70px, rgba(0,0,0,0) 74px) 0px 0px, #efefef;*/ background-color:#efefef; background-repeat:no-repeat; }

/* color
 blue : #15a0d1
 green : #619857
*/

#work-list { position:relative; width:100%; min-width:800px; padding-bottom:10px; }
#work-list.mobile { min-width:auto; }
#work-list.full { min-width:320px; }

#work-list .tx-red { color:#ff0000 !important; }

#work-list .wl_btn { display:inline-block; padding:3px 8px; background:#333; color:#fff; border-radius:3px; font-size:12px; line-height:14px; vertical-align:baseline; }

#work-list .title { width:100%; max-width:1200px; margin:0 auto; padding:10px 0 6px; box-sizing:border-box; text-align:left; background-color:#fff; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
#work-list .title:before { content:''; position:fixed; width:100%; height:68px; top:0; left:0; background:#fff; z-index:-1; }
#work-list .project-title { margin-bottom:4px; font-size:18px; font-weight:bold; color:#000; }
#work-list .project-info { line-height:14px; color:#333; font-size:0; }
#work-list .project-info > span { display:inline-block; margin-right:2px; padding:1px 5px; font-size:12px; background:#fff; border:1px solid #aaa; border-radius:3px; letter-spacing:-0.03em; }
#work-list.full .title { width:100%; min-width:320px; box-sizing:border-box;}

#work-list .related-links { position:absolute; width:50%; top:20px; left:50%; padding-right:10px; box-sizing:border-box; text-align:right; }
#work-list .related-links .tit { display:inline-block; font-size:12px; line-height:29px; vertical-align:top; }
#work-list .related-links select { padding:5px; font-size:13px; line-height:19px; border-color:#aaa; }

#work-list .menu { position:sticky; top:0; width:100%; padding:5px 0 0; background:#333; box-sizing:border-box; text-align:center; z-index:101;}
#work-list .menu ul { display:inline-block; width:100%; max-width:1200px; }
#work-list .menu li { float:left; margin-right:2px; }
#work-list .menu li a, 
#work-list .menu li button { display:block; padding:3px 15px; background:rgba(0,0,0,.5); color:#fff; font-weight:bold; font-size:14px; line-height:20px; border-radius:2px 2px 0 0;}
#work-list .menu li a.view,
#work-list .menu li button.view { background:#fff; color:#333; }

#work-list .function { position:sticky; width:100%; height:36px; top:31px; color:#444; box-sizing:border-box; background:#fff; box-shadow:0 3px 3px rgba(0,0,0,.15); z-index:101; }
#work-list .function > .inbox { position:relative; display:flex; max-width:1200px; padding:6px 0; margin:0 auto; justify-content:space-between; align-items:center; }
#work-list .func-items { flex:1; display:flex; justify-content:flex-end; align-items:center; }
#work-list .function .tit { vertical-align:middle; font-size:12px; color:#666; }
#work-list .func-wrap + .func-wrap { display:inline-block; margin-left:25px; }
#work-list .check { display:inline-block; position:relative; width:40px; height:20px; border-radius:15px; background:#444; text-align:left; vertical-align:middle;}
#work-list .check input { position:absolute; display:block; width:100%; height:100%; z-index:-1; zoom:-1;}
#work-list .check label { display:block; position:absolute; width:16px; height:16px; top:2px; left:2px; background:rgba(255,255,255,.5); border-radius:13px; text-indent:-10000px; transition:.2s ease-in-out; cursor:pointer; overflow:hidden; }
#work-list .check input:checked + label { left:22px; background:#fff; }
#work-list .check input:disabled + label { opacity:.5; }

#work-list .ing-per { font-size:14px; font-weight:bold; }

#work-list .temp { display:none; }
#work-list .text-finder label { color:#666; vertical-align:middle;}
#work-list .text-finder input { display:inline-block; width:120px; padding:2px; border:1px solid #aaa; border-radius:2px; }
#work-list .text-finder input:disabled { opacity:.5; }
#work-list .text-finder input::-webkit-input-placeholder { color:#444; }
#work-list .text-finder .btn-find-tx { display:inline-block; padding:3px 10px; background:#444444; color:#fff; vertical-align:middle; border-radius:2px;}

#work-list .sub-link > a,
#work-list .sub-link > button { display:inline-block; margin-right:5px; padding:0 5px; font-size:12px; line-height:18px; color:#666; border:1px solid #aaa; border-radius:2px; }

#work-list .list { width:100%; max-width:1200px; margin:10px auto 10px; padding:0; box-sizing:border-box; }
#work-list .list .site-title { margin:15px 0 5px; padding:0 10px; font-size:13px; line-height:19px; font-weight:bold; color:#444; }
#work-list .list .tbl-wrap { border-bottom:1px solid #ddd; background-color:#fff; box-shadow:0 0 5px rgba(0,0,0,.1); }
#work-list .list table { width:100%; }
#work-list .list th { padding:8px 5px; color:#666; border:1px solid #aaa; background:#e5e5e5; }
#work-list .list td { padding:5px; border:1px solid #ddd; line-height:20px; border-bottom:none; color:#666; text-align:center; }
#work-list .list tr.div td { border-top:1px solid #666; }
#work-list .list tr:hover th, #work-list .list tr:hover td { background:#efefef; }
#work-list .list td.depth1 { font-weight:bold; }
#work-list .list td.link { padding:5px 15px; text-align:left; }
#work-list .list td.link a { display:block; padding-right:12px; color:#036ab3; background:url(../guide/images/next.png) no-repeat right 50%; background-size:8px 8px; font-weight:bold; letter-spacing:-0.05em; }
#work-list .list td.link a.ready { background:none; color:#bbb; }
#work-list .list td.link a.classUse { color:#ff0000; }
#work-list .list td.state::after { content:'대기'; display:inline-block; width:40px; padding:2px 15px; font-size:12px; line-height:16px; color:#fff; background:#ccc; border-radius:10px 2px; }
#work-list .list td.state.ing::after { content:'진행중'; color:#fff; background:#e5426d; }
#work-list .list td.state.end::after { content:'완료'; color:#fff; background:#036ab3; }
#work-list .list td.state.include::after { content:'┖ 포함'; width:50px; padding:2px 10px; color:#036ab3; background:#fff; }
#work-list .list td.modify dl { overflow:hidden; text-align:left; }
#work-list .list td.modify dt { float:left; font-weight:bold; margin-right:10px; }
#work-list .list td.modify dd { display:block; overflow:hidden;  }
#work-list .list tr.del td, #work-list .list tr.del td a { color:#aaa; text-decoration: line-through; background-image:none; }
#work-list .list tr.del td.state.end::after { content:'삭제'; background:#ccc; }
#work-list .list tr.notuse td { color:#999; background:#f6f6f6; }
#work-list .list tr.notuse td a { opacity:.5; }
#work-list .list tr.notuse td.state.end::after { content:'참고용'; opacity:.5; }

#work-list .iframe { position:fixed; display:none; width:1200px; height:1600px; top:50%; left:10%; z-index:200; background:#fff; transform:scale(.5) translateY(-50%); -webkit-transform:scale(.5) translateY(-50%); transform-origin:0 0;-webkit-transform-origin:0 0; box-sizing:border-box; box-shadow:2px 2px 20px rgba(0,0,0,.8); }
#work-list .iframe iframe { width:100%; height:calc(100% - 84px); }
#work-list .iframe .btn-frame-close { display:block; width:100%; padding:16px 0; font-size:36px; background:#036ab3; color:#fff; text-align:center; }
#work-list .iframe.mobile { width:360px; height:720px; border:1px solid #15a0d1; transform:scale(1); -webkit-transform:scale(1); box-shadow:1px 1px 7px rgba(0,0,0,.3); }
#work-list .iframe.mobile .btn-frame-close { padding:10px 0; font-size:20px; box-shadow:1px 1px 7px rgba(0,0,0,.3); }

#work-list .guide-menu { position:sticky; top:31px; margin:0 auto; padding:2px 0 0; overflow:hidden; background:#fff; z-index:101;}
#work-list .guide-menu ul { display:block; width:1200px; margin:0 auto; }
#work-list .guide-menu li { float:left; margin-right:10px; }
#work-list .guide-menu a { display:inline-block; padding:4px 10px; font-size:14px; line-height:26px; color:#036ab3; font-family:roboto; font-weight:bold; border-bottom:2px solid #fff; }
#work-list .guide-menu a:hover { text-decoration:none; border-color:#036ab3; }

#work-list .guide > section { display:block; max-width:1200px; margin:0 auto 20px; padding:0; font-size:12px; line-height:1.4em; }
#work-list.full .guide > section { width:100%; min-width:320px; box-sizing:border-box; }
#work-list .guide .guide-sec-tit { height:70px; padding:20px 0 10px; font-size:28px; letter-spacing:-0.05em; color:#333; text-align:left; box-sizing:border-box; }
#work-list .guide .guide-sec-tit .desc { font-size:16px; font-weight:normal; color:#888; }
#work-list .guide .guide-sec-tit:before { content:''; display:inline-block; width:5px; height:100%; margin-right:10px; background-color:#15a0d1; vertical-align:text-top; }
#work-list .guide .guide-sec { display:block; margin:10px 0; padding:20px; background-color:#fff; box-shadow:0 0 5px rgba(0,0,0,.1); border-radius:2px; }
#work-list .guide .guide-stit { position:relative; height:28px; margin-bottom:20px; font-size:22px; line-height:28px; color:#333; }
/* #work-list .guide .guide-stit:before { content:''; position:absolute; display:block; width:3px; height:45px; top:-18px; left:-18px; margin-right:5px; background-color:#15a0d1; } */
#work-list .guide .guide-sstit { margin:15px 0 10px; padding-top:15px; font-size:16px; }
#work-list .guide-sec p { margin:5px 0; }
#work-list .guide-sec .imp { position:relative; padding-left:15px; font-weight:bold; color:#ff0000; font-size:14px; }
#work-list .guide-sec .imp::after { content:'▶'; position:absolute; width:15px; height:15px; top:0; left:0; }
#work-list .guide-sec ul { width:100%; }
#work-list .guide-sec > ul li { margin-top:5px; }
#work-list .guide-sec > ul > li:first-child { margin-top:0; }
#work-list .guide-sec > ul > li ul { display:block; }
#work-list .guide-sec > ul > li ul li { margin-left:15px; }
#work-list .guide-sec .img { margin-bottom:10px; border:1px solid #ccc; }
#work-list .guide-sec .img a,
#work-list .guide-sec .img img { vertical-align:top; }
#work-list .guide-sec * + .img { margin-top:10px; }
#work-list .guide .guide-show { position:relative; margin:15px 0; padding:30px 10px 10px; border:1px solid #cdcdcd; }
#work-list .guide .guide-show:before { content:'예시'; position:absolute; top:0; left:0; padding:3px 10px; background:#cdcdcd; color:#fff; }
#work-list .guide .guide-red { color:#ff0000; }
#work-list .guide-sec .guide-link { display:inline-block; margin:10px 0; padding:3px 5px; color:#666; font-size:13px; border-bottom:1px solid #666; }
#work-list .guide-sec .guide-link:hover { text-decoration:none; }

#work-list .guide .tbl { background:url(images/icon_arrow-type2.svg) no-repeat 100% 50%; background-size:70%; background-color:#fcfcfc;}
#work-list .guide * + .tbl { margin-top:10px; }
#work-list .guide .tbl td:first-child { border-top:1px solid #ccc; font-weight:normal; }
#work-list .guide .tbl thead th { text-align:center; font-size:12px; background:#eee; }
#work-list .guide .tbl td { padding:7px 15px; font-size:12px; line-height:18px; text-align:left; vertical-align:top; border:1px solid #dfdfdf; }
#work-list .guide .tbl th { padding:7px 15px; border-bottom:none; vertical-align:top; text-align:left; font-size:14px; border:1px solid #dfdfdf; }
#work-list .guide .tbl .div th,
#work-list .guide .tbl .div td { border-top:2px solid #000; }
#work-list .guide .tbl.tc td { text-align:center; }

#work-list .guide .sort-list .sorting { text-align:right; }
#work-list .guide .sort-list * + .sorting { margin-top:-20px; }

#work-list .guide-top { position:fixed; width:40px; height:40px; bottom:30px; right:30px; background:#444; text-align:center; font-weight:bold; line-height:40px; color:#fff; border-radius:5px;}

#work-list .list tr.div td.depth1 { position:relative; }
#work-list .list tr.hide { display:none; }

#work-list .btn-tr-tgl { position:absolute; display:inline-block; width:16px; height:16px; top:0; left:-80px; text-indent:-10000px; background:#dedede; border-radius:2px; vertical-align:middle; }
#work-list .btn-tr-tgl.open { background:#aaa; }
#work-list .btn-tr-tgl:before { content:''; position:absolute; display:none; width:2px; height:8px; top:4px; left:7px; background:#fff; }
#work-list .btn-tr-tgl::after { content:''; position:absolute; width:8px; height:2px; top:7px; left:4px; background:#fff; }
#work-list .btn-tr-tgl:hover { background:#aaa; }
#work-list .btn-tr-tgl.open:before { display:block; }
#work-list .btn-tr-tgl:disabled { cursor:default; opacity:0; }
#work-list .btn-tr-tgl:disabled::after, #work-list .btn-tr-tgl:disabled:before { display:none; }
#work-list .btn-tr-tgl:disabled:hover { background:#dedede; }

.btn-guide-top { position:fixed; bottom:10px; right:10px; padding:4px 6px; background:rgba(255,255,255,.5); color:#666; border:1px solid #ccc; box-shadow:1px 1px 5px rgba(0,0,0,.2); border-radius:3px;}
.btn-guide-top:before { content:'\2191'; display:inline-block; font-size:14px; font-weight:bold; }

/* 조직도 =============================================================== */
#work-list .folder-tree { overflow:hidden; }
#work-list .folder-tree button, #work-list .folder-tree a { display:block; width:100%; height:20px; padding-left:38px; font-size:13px; line-height:20px; background:url(images/tree-btn.png) no-repeat 5px top; outline:none; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; box-sizing:border-box;}
#work-list .folder-tree li.on > button, #work-list .folder-tree li.on > a { background-image:url(images/tree-btn-open.png); }
#work-list .folder-tree li.on > button.btn-tree, #work-list .folder-tree li.on > a.btn-tree { background-image:url(images/tree-onoff.png); }
#work-list .folder-tree ul { display:none; width:100%; padding-left:15px; vertical-align:top; box-sizing:border-box; }
#work-list .folder-tree > ul { display:block; }
#work-list .folder-tree li.on > ul { display:block; }
#work-list .folder-tree ul > li:last-child { background:none; }
#work-list .folder-tree li { position:relative; width:100%; min-height:22px; background:url(images/tree-line.png) repeat-y 5px top; }
#work-list .folder-tree .btn-tree { position:absolute; width:11px; height:11px; padding-left:0; background:url(images/tree-onoff.png) no-repeat left top; text-indent:-10000px; top:4px; left:0; }
#work-list .folder-tree li.on > .btn-tree { background-position:left bottom; }
